# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variables
*.tfvars

# OPA binary
opa

# IDE files
.vscode/
.idea/

# Environment variables
.env
.envrc


# Logs
*.log

# .tfstate files
*.tfstate
*.tfstate.*
